body {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

p {
    color: #fff;
}

h2 {
    color: #fff;
}

.container {
    position: absolute;
    background-color: rgba(51,51,51,0.6);
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    width: 300px
}

.button {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #f7ba59;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    width: 200px
}
.button:hover {
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}
.button:active {
	top: 3px;
	box-shadow: none;
}